h1, h2, h3, h4, h5, h6, a, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  background: #e5e5e5;
}

a {
  text-decoration: none;
}



.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px auto;
  max-width: 1200px;
}

.main-content {
  background-color: white;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
  padding: 105px 90px;
}

/* ФИЩГЕ */
.about-user {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-descrption {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}


/* ворк */
.work-title {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.work-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.organization {
  color: coral;
}

.duration {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

/*education*/
.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.education-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: coral;
  margin-bottom: 12px;
}

.education-establishment {
  font-weight: 700; 
  font-size: 14px; 
  margin-bottom: 12px;
}


.sidebar {
  color: white;
  background: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.contacts {
  margin-top: 50px;
  margin-left: 40px;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 8px;
}

.contacts-item {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.contacts-item span {
  font-weight: 700;
  font-size: 14px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}



.skills {
  margin-top: 48px;
  margin-left: 40px;
  line-height: 24px;
  color: #000000;
}

.skills-title {
  font-weight: 700;
  font-size: 22px;
}

.skills-list {
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
}

.skills-list li::marker {
  color: coral;
}